.place__text {
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  grid-area: text__place;
}
@media screen and (max-width: 950px) {
  .place__text {
    max-width: 352px;
    font-size: 16px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 640px) {
  .place__text {
    max-width: 579px;
    margin: 0 16px;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
    max-width: 288px;
  }
}